{% extends "base.html" %}
{% block nav_index %}selected{% endblock %}
{% block body %}
<h1 class="page-title">Tune summary</h1>
<div class="markdown-body">

    <p>Find in the table the best proposed parameters for the current data:</p>

    <table>
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Parameter</th>
            <th scope="col">Value</th>
            <th scope="col">Error</th>
        </tr>
        </thead>
        <tbody>
        {% for param in results %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{param.name}}</td>
            <td>{{param.x}}</td>
            <td>{{param.std}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Estimators</h2>

    <table>
        <thead>
        <tr>
            <th scope="col">Estimator name</th>
            <th scope="col">Estimator value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Final chi2/dof</td>
            <td>{{chi2}}</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}